body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 58px;
    /*Muutin sivun taustaväriä sekä muutin koko sivun fonttia*/
}

#ylapalkki{
    text-align: center;
    color: #e7e7e7;
    background-color: rgb(63, 62, 62);
    padding: 30px;

    /*siirsin yläotsikon keskelle sivua*/
}
nav{
    margin: 0;
    padding: 5px;
    background-color: rgb(63, 62, 62);
    overflow: hidden;
    align-items: center;
    border: solid 10px white;
}
nav a{
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /*Muokkasin nav palkkia niin että teksien väliin jää enemmän tilaa ja poistettiin alleviivaukset näkyviltä*/
    
}
#txt{
    padding: 30px 20px;
    
}
#txt img{
    border:solid rgb(252, 250, 246);
    border-radius: 40%;
            max-width: 50%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            /*tein kuvasta pyöreän rajaamalla sen ja määrittämällä prosenttimäärän*/
            
}
footer{
    text-align:center;
    background-color: rgb(63, 62, 62);
    color: white;
    bottom: 0;
    padding: 5px;
    width: 100%;
    position: fixed;
    z-index: 1;

    /*teksti siirretty keskelle sivua ja taustavärit sekä tekstin väri muutettu*/
}

footer a{
    text-decoration: none;  
    color:white;   
    /*tekstistä poistettu alleviivaukset ja väri muutettu*/
    }
    #alapalkki img{
        max-width: 30px;
        margin: 10px;
     }
